<!DOCTYPE html>
<html>
<head>
    <title>Recipe Manager</title>
    <meta charset="utf-8">
    <script src="js/closure-library/closure/goog/base.js"></script>
    <style>
    .recipeInput {
        width: 50%;
    }
    </style>
    <script>
        goog.require('goog.net.XhrIo');
        goog.require('goog.ui.Component');
        goog.require('goog.dom');
    </script>
    <script src="//localhost:35729/livereload.js"></script>
    <!-- <script src="js/components/RecipeComponent.js"></script> -->
    <!-- <script src="js/components/Recipe.js"></script> -->

   <!--  <script>
        goog.require('app.recipes.Recipe');
    </script> -->

    <!--Application CSS Files-->
    {% for cssFile in cssFiles %}
        <link rel="stylesheet" href="{{cssFile}}">
    {% endfor %}

    <!--Application JavaScript Files-->
    {% for jsFile in jsFiles %}
        <script type="text/javascript" src="{{jsFile}}"></script>
    {% endfor %}
</head>
<body>
    <!-- <header data-ng-include="'/modules/core/views/header.client.view.html'" class="navbar navbar-fixed-top navbar-inverse"></header> -->
    <section class="content">
        <section class="container">
            {% block content %}{% endblock %}
        </section>
    </section>
<h1> Recipes </h1>

<form>
Add recipe:
<input type="text" placeholder="address" name="recipeUrl" class="recipeInput">
<button type="submit">Submit</button>
</form>

<div id="recipes">
    {% include "recipe.html" %}
</div>

</body>
</html>
