<!DOCTYPE html>
<html>
<head>
    <title>Recipe Manager</title>
    <meta charset="utf-8">
    <script src="js/closure-library/closure/goog/base.js"></script>
    <style>
    .recipeInput {
        width: 50%;
    }
    </style>
    <script>
        goog.require('goog.net.XhrIo');
        goog.require('goog.ui.Component');
        goog.require('goog.dom');
        goog.require('goog.structs');
        goog.require('goog.Uri');

    </script>
    {% if env == 'development' %}
        <script src="//localhost:35729/livereload.js"></script>
    {% endif %}

    <!--Application CSS Files-->
    {% for cssFile in cssFiles %}
        <link rel="stylesheet" href="{{cssFile}}">
    {% endfor %}

    <!--Application JavaScript Files-->
    {% for jsFile in jsFiles %}
        <script type="text/javascript" src="{{jsFile}}"></script>
    {% endfor %}
</head>
<body>
<script>
  // This is called with the results from from FB.getLoginStatus().
  function statusChangeCallback(r) {
    if (r.status === 'connected') {
      // Logged into your app and Facebook.
      FB.api('/me', function(response) {
        console.log(response);
        var data = goog.Uri.QueryData.createFromMap(new goog.structs.Map({
            name: response.name,
            fbAppId: response.id,
            email: response.email
        }));
        // goog.net.XhrIo.send('/signIn', function(e) {
        //     var xhr = e.target;
        //     var signInResponse = xhr.getResponseJson();
        //     console.log(signInResponse);
        // }, 'POST', data.toString());
      });
    }
  }

  // This function is called when someone finishes with the Login
  // Button.  See the onlogin handler attached to it in the sample
  // code below.
  function checkLoginState() {
    FB.getLoginStatus(function(response) {
      statusChangeCallback(response);
    });
  }

  window.fbAsyncInit = function() {
    FB.init({
      appId      : {{fbAppId}},
      cookie     : true,
      xfbml      : true,
      version    : 'v2.3'
    });

  FB.getLoginStatus(function(response) {
    statusChangeCallback(response);
  });

  };

  // Load the SDK asynchronously
  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
</script>

<!-- <fb:login-button scope="public_profile,email" onlogin="checkLoginState();" autologoutlink="true">
</fb:login-button> -->
{% if not user %}
<a href="/auth/google">Sign In with Google</a>
{% else %}
<a href="/logout">Sign out</a>
{% endif %}

    <section class="content">
        <section class="container">
            {% block content %}{% endblock %}
        </section>
    </section>
hi {{user}}!!
<h1> Recipes </h1>

<form action="/addRecipe" method="POST" id="addRecipe" target="blank_">
Add recipe:
<input type="text" placeholder="address" name="url" class="recipeInput">
<input type="submit" value="Submit">
</form>

<div id="recipes">
    {% include "recipe.html" %}
</div>

</body>
</html>
