@import "./colors";
@import "./dialog";

.header {
  background-color: $default-primary-color !important;
}

.day {
  &:hover:not(.active):not(.disabled) > span {
    // color: $calendar-primary-contrast-color;
    background: $default-primary-color !important;
  }
  &.active > span {
    // color: $calendar-primary-contrast-color;
    background: $default-primary-color !important;
  }
}
