$default-primary-color: #4AAD4E;
$light-primary-color: #C8E6C9;
$accent-color: #FFC107;
$light-accent-color: #fff8e1;
$primary-text-color: #212121;
$secondary-text-color: #727272;
$divider-color: #B6B6B6;
