{% load staticfiles %}
<html>
  <head>
    <link href="{% static 'css/recipes.css' %}" rel="stylesheet">

    <link href='https://fonts.googleapis.com/css?family=Yeseva+One&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather+Sans:400,800&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
  </head>
  <body style="background: #7B1FA2;">
    <div style="font-family: 'Yeseva One', cursive; color: white; width: 100%; text-align: center; font-size: 4em; padding: 2em 0;">
      Recipe Manager
    </div>
    <div style="font-family: 'Merriweather Sans', sans-serif; color: #E1BEE7; font-size: 2em; width:100%; text-align: center;">
      The content you were looking for was not found!<br>
      Please contact the administrator.<br>
      <a href="/recipes/">Back</a>
    </div>
  </body>
</html>
