{% extends "recipeBase.html" %}

{% block content %}
<div class="recipe-form centered small">
  <h5 class="">
    Add several recipes:
  </h5>
  {% if urls %}
    {% for text in text2 %}
      <p>{{text}}</p>
    {% endfor %}
    <div class="row">
      <div class="col s1">
        <i
          class="hidden waves-effect arrow light-primary-color previous material-icons"
          style="margin-top: 20px; padding: 0 5px;">
          chevron_left
        </i>
      </div>
      <div class="col s10">
        <div class="" id="processed">
          <div style="margin: 50px auto; width: 40px;">
            <div class="preloader-wrapper small active">
              <div class="spinner-layer spinner-green-only">
                <div class="circle-clipper left">
                  <div class="circle"></div>
                </div><div class="gap-patch">
                  <div class="circle"></div>
                </div><div class="circle-clipper right">
                  <div class="circle"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <form method="POST"
          id="bookmarks"
          action="."
          class="hidden bookmarks">

            {% for url in urls %}
              <p class="hidden bookmark"
                id="bookmark-container-{{forloop.counter}}"
                style="background-color: {{url.color}}; overflow: hidden;">
                <input name="bookmark"
                  type="checkbox"
                  index="{{forloop.counter}}"
                  value="{{url.url}}"
                  id="bookmark-{{forloop.counter}}"
                />
                <label class="bookmark-checkbox" for="bookmark-{{forloop.counter}}">{{url.name}}</label>
              </p>
            {% endfor %}

            <div class="btn select-all">
              <div class="select">
                Select all
              </div>
              <div class="un-select">
                Deselect all
              </div>
            </div>
          {% csrf_token %}
          <!-- <input class="recipe-form btn btn-success" type="submit"/> -->
        </form>
      </div>
      <div class="col s1">
        <i data-position="top"
          data-delay="50"
          data-tooltip="Skip"
          class="waves-effect arrow light-primary-color next material-icons"
          style="margin-top: 20px; padding: 0 5px;">
          chevron_right
        </i>
      </div>
    </div>
    <div class="light-accent-color progress">
      <div index="1" stepSize="{{stepSize}}" class="accent-color determinate" style="width: {{stepSize}}%"></div>
    </div>
    <div class="hidden done-recipes">
      We found <span id="exists"></span> links that are already in your recipes!
    </div>
    <script>
      var exists = 0;
      var pages = [];
      var bookmarks = $('.bookmark').toArray();
      while (bookmarks.length) {
        pages.push(bookmarks.splice(0, 100));
      }
      var doneBookmarks = 0;
      var total = $('.bookmark').length;
      var moveNext = function() {
        $('#processed').html('');
        var bookmarks = $('.bookmark').not('.done').splice(0, 10);
        $('.bookmarks').removeClass('hidden');
        bookmarks.forEach(b => {
          $(b).removeClass('hidden');
          $(b).addClass('active');
        });
        $('.select-all').removeClass('selected');

        var height = parseInt($('.bookmarks').css('height'));
        $('.arrow').css('line-height', height + 'px');
      };
      var movePrevious = function() {
        $('#processed').html('');
        var bookmarks = $('.bookmark.done')
          .splice($('.bookmark.done').length - 10);
        $('.bookmarks').removeClass('hidden');
        $('.bookmark.active').removeClass('active').addClass('hidden');
        bookmarks.forEach(b => {
          $(b).removeClass('hidden').removeClass('done');
          $(b).addClass('active');
        });

        if ($('.bookmark.done').length < 10) {
          $('.previous').addClass('hidden');
        }
        $('.select-all').removeClass('selected');
      };
      var checkBookmarks = function(page, callback) {
        var bookmarks = $(page).find('[name=bookmark]').toArray().map(b => {
          return {url: b.value, index: b.getAttribute('index')};
        });
        $.ajax({
          url: '/recipeExists/',
          type: 'post',
          data: {
            'urls': JSON.stringify(bookmarks),
            'csrfmiddlewaretoken':
              document.getElementsByName('csrfmiddlewaretoken')[0].value
          },
          dataType: 'json',
          success: function(data) {
            data.data.forEach(d => {
              $('#bookmark-container-' + d).remove();
              exists++;
              if (exists === 1) {
                $('.done-recipes').removeClass('hidden');
              }
              $('#exists').text(exists);
            });
            if (callback && typeof(callback) === 'function') {
              callback();
            }
          },
          error: function(error) {
            debugger;
          }
        });
      };
      checkBookmarks(pages[0], function() {
        moveNext();
        var rest = pages.slice(1);
        rest.forEach(checkBookmarks);
      });
      $('.bookmarks').on('submit', function(e) {
        var form = $(this);
        $('.arrow').addClass('hidden');
        $.ajax({
          url: '/addBulk/',
          type: 'post',
          data: form.serialize(),
          dataType: 'json',
          success: function(data) {
            doneBookmarks += $('.bookmark.active').length;
            $('[type="checkbox"]:checked')
              .prop('checked', false);
            $('.bookmark.active')
              .removeClass('active')
              .addClass('done');
            var processed = $('#processed');
            processed.html(data.rendered);
            processed.removeClass('hidden');
            $('#bookmarks').addClass('hidden');
            var height = processed.css('height');
            $('.arrow').removeClass('hidden').css('line-height', height);
          },
          error: function(error) {
            debugger;
          }
        });
        e.preventDefault();
      });
      $('.previous').on('click', function(e) {
        movePrevious();
      });
      $('.next').on('click', function(e) {
        var progress = $('.determinate');
        if ($('[type="checkbox"]:checked').length) {
          $('.bookmarks').submit();
          return;
        }
        doneBookmarks += $('.bookmark.active').length;
        $('.bookmark.active').removeClass('active').addClass('done');
        moveNext();
        var width = parseFloat((doneBookmarks + exists) * 100 / total);
        progress.css('width', width + '%');
        if (width >= 100) {
          window.location = '/';
        }

        $('.arrow').removeClass('hidden');
      });

      $('.select-all').on('click', function() {
        var action = $(this).hasClass('selected');
        $('.bookmark.active').find('input').prop('checked', !action);
        $(this).toggleClass('selected');

      });
    </script>
  {% else %}
    {% for text in text1 %}
      <p>{{text}}</p>
    {% endfor %}
    <br>
    <form enctype="multipart/form-data" action="{% url 'processBulk' %}" method="post">

      <div class="file-field input-field">
        <div class="btn">
          <span>File</span>
          <input name="bookmarks" type="file">
        </div>
        <div class="file-path-wrapper">
          <input class="file-path validate" placeholder="Chrome or Firefox bookmark HTML file" type="text">
        </div>
      </div>
      <!-- <label class="recipe-form">
        Chrome bookmarks
        <input class="form-control" type="file" name="bookmarks"/>
      </label> -->
      <br>
      {% csrf_token %}
      <input class="recipe-form btn btn-success" value="Process" type="submit"/>
    </form>
  {% endif %}
</div>
{% endblock %}
