{% extends "recipeBase.html" %}

{% block content %}
<div class="recipe-form centered small">
  <h5 class="">
    Add several recipes:
  </h5>
  {% if urls %}
    You can review all of bookmarks. We have grouped them to make it easier to look over.
    The links that we think are recipes have been highlighted so that you can find them faster.
    If some of the links are already in your recipes they will appear at the bottom.
    <div class="row">
      <div class="col s11">
        <div class="" id="processed">
          <div style="margin: 50px auto; width: 40px;">
            <div class="preloader-wrapper small active">
              <div class="spinner-layer spinner-green-only">
                <div class="circle-clipper left">
                  <div class="circle"></div>
                </div><div class="gap-patch">
                  <div class="circle"></div>
                </div><div class="circle-clipper right">
                  <div class="circle"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <form method="POST"
          id="bookmarks"
          action="."
          class="bookmarks">
            {% for url in urls %}
              <p class="hidden bookmark"
                id="bookmark-container-{{forloop.counter}}"
                style="background-color: {{url.color}}; overflow: hidden;">
                <input name="bookmark"
                  type="checkbox"
                  index="{{forloop.counter}}"
                  value="{{url.url}}"
                  id="bookmark-{{forloop.counter}}"
                />
                <label class="bookmark-checkbox" for="bookmark-{{forloop.counter}}">{{url.name}}</label>
              </p>
            {% endfor %}
          {% csrf_token %}
          <!-- <input class="recipe-form btn btn-success" type="submit"/> -->
        </form>
      </div>
      <div class="col s1">
        <i data-position="top"
          data-delay="50"
          data-tooltip="Skip"
          class="waves-effect next material-icons"
          style="margin-top: 200px">
          chevron_right
        </i>
      </div>
    </div>
    <div class="light-accent-color progress">
      <div index="1" stepSize="{{stepSize}}" class="accent-color determinate" style="width: {{stepSize}}%"></div>
    </div>
    <div class="hidden done-recipes">
      We found <span id="exists"></span> links that are already in your recipes!
    </div>
    <script>
      var exists = 0;
      var pages = [];
      var bookmarks = $('.bookmark').toArray();
      while (bookmarks.length) {
        pages.push(bookmarks.splice(0, 100));
      }
      var doneBookmarks = 0;
      var total = $('.bookmark').length;
      var moveNext = function() {
        $('#processed').html('');
        var bookmarks = $('.bookmark').splice(0, 10);
        $('.bookmarks').removeClass('hidden');
        bookmarks.forEach(b => {
          $(b).removeClass('hidden');
          $(b).addClass('active');
        });
      };
      var checkBookmarks = function(page, callback) {
        var bookmarks = $(page).find('[name=bookmark]').toArray().map(b => {
          return {url: b.value, index: b.getAttribute('index')};
        });
        $.ajax({
          url: '/recipeExists/',
          type: 'get',
          data: {'urls': JSON.stringify(bookmarks)},
          dataType: 'json',
          success: function(data) {
            data.data.forEach(d => {
              $('#bookmark-container-' + d).remove();
              exists++;
              if (exists === 1) {
                $('.done-recipes').removeClass('hidden');
              }
              $('#exists').text(exists);
              console.log(d + ' exists');
            });
            if (callback && typeof(callback) === 'function') {
              callback();
            }
          },
          error: function(error) {
            debugger;
          }
        });
      };
      checkBookmarks(pages[0], function() {
        moveNext();
        var rest = pages.slice(1);
        rest.forEach(checkBookmarks);
      });
      $('.bookmarks').on('submit', function(e) {
        var form = $(this);
        $('.next').addClass('hidden');
        $.ajax({
          url: '/addBulk/',
          type: 'post',
          data: form.serialize(),
          dataType: 'json',
          success: function(data) {
            doneBookmarks += $('.active').length;
            $('.active').remove();
            var processed = $('#processed');
            processed.html(data.rendered);
            processed.removeClass('hidden');
            $('#bookmarks').addClass('hidden');
            var height = parseInt(processed.css('height'));
            $('.next').attr('data-tooltip', 'Continue')
              .css('margin-top', height / 2);
          },
          error: function(error) {
            debugger;
          }
        });
        e.preventDefault();
      });
      $('.next').on('click', function(e) {
        var progress = $('.determinate');
        if ($('[type="checkbox"]:checked').length) {
          $('.bookmarks').submit();
          return;
        }

        doneBookmarks += $('.active').length;
        $('.active').remove();
        moveNext();
        var width = parseFloat((doneBookmarks + exists) * 100 / total);
        progress.css('width', width + '%');
        if (width > 100) {
          window.location = '/';
        }

        var margin = Math.min(
          parseInt($('.bookmarks').css('height')) / 2,
          200
        );
        $('.next').attr('data-tooltip', 'Skip')
          .css('margin-top', margin + 'px');
      });
    </script>
  {% else %}
    Export your chrome or firefox bookmarks as an HTML file and add them here, they will be processed so that you can choose which to import.
    <br>
    <form enctype="multipart/form-data" action="{% url 'processBulk' %}" method="post">

      <div class="file-field input-field">
        <div class="btn">
          <span>File</span>
          <input name="bookmarks" type="file">
        </div>
        <div class="file-path-wrapper">
          <input class="file-path validate" placeholder="Chrome or Firefox bookmark HTML file" type="text">
        </div>
      </div>
      <!-- <label class="recipe-form">
        Chrome bookmarks
        <input class="form-control" type="file" name="bookmarks"/>
      </label> -->
      <br>
      {% csrf_token %}
      <input class="recipe-form btn btn-success" value="Process" type="submit"/>
    </form>
  {% endif %}
</div>
{% endblock %}
