{% extends "recipeBase.html" %}

{% block title %}
Menu
{% endblock %}

{% block content %}
  <div class="menu">
    <h4>
      Menu
    </h4>
    <div class="centered medium row">
      <div class="col s12 m6">
        <h5>
          Days
        </h5>
        <form>
          <div class="row">
            <div class="col s6">
              <label for="start">From:</label>
              <input data-value="{{start}}" id="start" type="date" class="datepicker">
            </div>
            <div class="col s6">
              <label for="end">To:</label>
              <input data-value="{{end}}" id="end" type="date" class="datepicker">
            </div>
          </div>
        </form>

        {% for day in week %}
          <div class="day">
            <div class="header">
              {{day.dateString}}
              <a style="float:right;" href="#add-modal-{{day.date}}" class="modal-trigger waves-effect waves-light">
                <i class="material-icons">add</i>
              </a>
            </div>
            {% if day.notes %}
              <div class="content">
                {% for note in day.notes %}
                  <div class="row">
                    <div class="col s11">
                      <a class="menu-recipe
                        {% if not note.ingredients %}
                          no-ingredients tooltipped
                        {% endif %}"
                        data-position="top"
                        data-delay="50"
                        data-tooltip="Recipe is missing ingredients!"
                        note-id="{{note.id}}"
                        href="{% url 'note' note.id %}">
                        {{note.title}}
                      </a>
                    </div>
                    <div class="col s1 delete-menu-recipe" note-id="{{note.id}}" day="{{day.date}}">
                      <i class="material-icons">close</i>
                    </div>
                  </div>
                {% endfor %}
              </div>
            {% endif %}
          </div>
          {% include 'addToMenuModal.html' %}
        {% endfor %}

      </div>
      <div class="col s12 m6">
        <h5>
          Ingredients
        </h5>
        {% for name, units in ingredients.items %}
          <div class="menu-ingredient" id="ingredient-{{forloop.counter}}">
            <b>{{name}}</b>
            {% for unit, quantities in units.items %}
             {{quantities.total}} {{unit}}
             {% if not forloop.last %}
             ,
             {% endif %}
            {% endfor %}
          </div>
          <div class="hidden" ingredient="ingredient-{{forloop.counter}}">
            {% for unit, quantities in units.items %}
              <h5>{{quantities.total}} {{unit}}</h5>
              {% for q in quantities.details %}
                <div class="row">
                  <div class="tooltipped col s6"
                    data-position="bottom"
                    data-delay="1000"
                    data-tooltip="{{q.quantity}}">
                    {{q.string}}
                  </div>
                  <div class="col s6">
                    <a href="{% url 'note' q.note %}">
                      {{q.title}}
                    </a>
                  </div>
                </div>
              {% endfor %}
            {% endfor %}
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
  <script>
    var dateSettings = {
      selectMonths: true, // Creates a dropdown to control month
      selectYears: 15, // Creates a dropdown of 15 years to control year
      today: '',
      clear: 'Clear',
      close: 'Done',
      formatSubmit: 'dd-mmmm-yyyy',
      onStart: function() {
        console.log('Hello there :)')
      },
      onRender: function() {
        console.log('Whoa.. rendered anew')
      },
      onOpen: function() {
        console.log('Opened up')
      },
      onClose: function() {
        var start = $('#start').val().replace(/ /g, '-').replace(',', '');
        var end = $('#end').val().replace(/ /g, '-').replace(',', '');
        window.location.href = '/menu/?start=' + start + '&end=' + end;
      },
      onStop: function() {
        console.log('See ya.')
      },
      onSet: function(context) {
        var t = new Date(1970, 0, 1); // Epoch
        t.setSeconds(context);
        console.log(t)
        console.log('Just set stuff:', context)
        // $('#end').pickadate(Object.assign(dateSettings, {
        //   min: context
        // }));
      }
    };
    $('#start').pickadate(Object.assign(dateSettings, {}));

    $('#end').pickadate(Object.assign(dateSettings, {
      // min: {{startSeconds}}
    }));

    $('.delete-menu-recipe').on('click', function() {
      $.ajax({
        url: '/deleteFromMenu/?day=' +
          $(this).attr('day') + '&note=' + $(this).attr('note-id')
      }).done(function(data) {
        if (data.success) {
          $(this.parentElement).remove();
        }
      }.bind(this));
    });

    $('.menu-ingredient').on('click', function() {
      $('[ingredient="' + $(this).attr('id') + '"]').toggleClass('hidden');
    });
  </script>

{% endblock %}
