{% extends "recipeBase.html" %}

{% block title %}
Menu
{% endblock %}

{% block content %}
  <div class="menu">
    <h4>
      Menu
    </h4>
    <div class="centered medium row">
      <div class="col s12 m6">
        <h5>
          Days
        </h5>
        {% for day in week %}
          <div class="day">
            <div class="header">
              {{day.dateString}}
              <a style="float:right;" href="#add-modal-{{day.date}}" class="modal-trigger waves-effect waves-light">
                <i class="material-icons">add</i>
              </a>
            </div>
            {% if day.notes %}
              <div class="content">
                {% for note in day.notes %}
                  <div class="row">
                    <div class="col s11">
                      <a class="menu-recipe
                        {% if not note.ingredients %}
                          no-ingredients tooltipped
                        {% endif %}"
                        data-position="top"
                        data-delay="50"
                        data-tooltip="Recipe is missing ingredients!"
                        note-id="{{note.id}}"
                        href="{% url 'note' note.id %}">
                        {{note.title}}
                      </a>
                    </div>
                    <div class="col s1 delete-menu-recipe" note-id="{{note.id}}" day="{{day.date}}">
                      <i class="material-icons">close</i>
                    </div>
                  </div>
                {% endfor %}
              </div>
            {% endif %}
          </div>

          <div id="add-modal-{{day.date}}" class="modal">
            <div class="modal-content">
              <h5>
                Add recipe to day menu {{day.dateString}}:
              </h5>
              <form class="ui-widget">
                <label for="note-title-{{day.date}}">Recipe Title: </label>
                <input id="note-title-{{day.date}}" day="{{day.date}}" class="autocomplete">
              </form>
            </div>
            <div class="modal-footer">
              <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Cancel</a>
            </div>
          </div>
        {% endfor %}

      </div>
      <div class="col s12 m6">
        <h5>
          Ingredients
        </h5>
        {% for name, units in ingredients.items %}
          <div class="menu-ingredient" id="ingredient-{{forloop.counter}}">
            <b>{{name}}</b>
            {% for unit, quantities in units.items %}
             {{quantities.total}} {{unit}}
             {% if not forloop.last %}
             ,
             {% endif %}
            {% endfor %}
          </div>
          <div class="hidden" ingredient="ingredient-{{forloop.counter}}">
            {% for unit, quantities in units.items %}
              <h5>{{quantities.total}} {{unit}}</h5>
              {% for q in quantities.details %}
                <div class="row">
                  <div class="tooltipped col s6"
                    data-position="bottom"
                    data-delay="1000"
                    data-tooltip="{{q.quantity}}">
                    {{q.string}}
                  </div>
                  <div class="col s6">
                    <a href="{% url 'note' q.note %}">
                      {{q.title}}
                    </a>
                  </div>
                </div>
              {% endfor %}
            {% endfor %}
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
  <script>
    $(function() {
      $('.autocomplete').autocomplete({
        serviceUrl: '/note-autocomplete',
        minLength: 2,
        transformResult: function(data) {
          var exist = {};
          $('.menu-recipe').each(function() {
            exist[$(this).attr('note-id')] = true;
          });
          return {
            suggestions: JSON.parse(data).suggestions.filter(function(el) {
              return !exist[el.id];
            })
          };
        },
        onSelect: function(suggestion) {
          document.location.href = '/addToMenu/?day=' +
            $(this).attr('day') + '&note=' + suggestion.id;
        }
      });
    });

    $('.delete-menu-recipe').on('click', function() {
      document.location.href = '/deleteFromMenu/?day=' +
        $(this).attr('day') + '&note=' + $(this).attr('note-id');
    });

    $('.menu-ingredient').on('click', function() {
      $('[ingredient="' + $(this).attr('id') + '"]').toggleClass('hidden');
    });
  </script>

{% endblock %}
