{% extends "recipeForm.html" %}

{% block url %}
{% url 'addNote' %}
{% endblock %}

{% block form-top %}
  <div class="row">
    <div class="long col s12 m8">
      <label class="recipe-form">
        Recipe Url
        <input autofocus class="form-control" type="text" name="recipeUrl"/>
      </label>
    </div>
    <div class="long col s12 m4">
      <a class="recipe-form btn more-button-fields">More Fields</a>
    </div>
  </div>
{% endblock %}

{% block form-class %}
recipe-more-fields
{% endblock %}


{% block recommended-tags %}
<br>
{% endblock %}
