{% if pages %}
  <ul class="pagination">
    {% if previous %}
      <li class="waves-effect"><a href="{% if previous %}?{{queries.urlencode}}&amp;page={{previous}}{% endif %}"><i class="material-icons">chevron_left</i></a></li>
    {% endif %}
    {% for i in pages %}
      {% if i == 0 %}
        <li class="">...</li>
      {% else %}
        <li class="{% if i == page %}active{% else %}waves-effect{% endif %}"><a href="?{{queries.urlencode}}&amp;page={{i}}">{{i}}</a></li>
      {% endif %}
    {% endfor %}
    {% if next %}
      <li class="waves-effect"><a href="{% if next %}?{{queries.urlencode}}&amp;page={{next}}{% endif %}"><i class="material-icons">chevron_right</i></a></li>
    {% endif %}
  </ul>
{% else %}
  <div class="no-recipes">
    There are no recipes here!
  </div>
{% endif %}
