{% extends "recipeBase.html" %}

{% block title %}
Seasonal
{% endblock %}

{% block content %}
<div class="center">
  <h5>
    Seasonal recipes
  </h5>
  <p>
    Choose a month and find recipes that have the ingredients that are in season.
  </p>
</div>
<div class="row">
<!-- <div class="row seasonal-content"> -->
  <div class="col s12 m6 l5" style="overflow-x: scroll;">
    <!-- <table class="striped"> -->
    <table class="striped season-table">
      <thead>
        {% for month in months %}
          <th class="table-header {% if selected == month %} selected{% endif %}">
            <a href="/season/{{month}}"> {{month}} </a>
          </th>
        {% endfor %}
      </thead>
      <tbody>
        {% for ingredient, months in ingredientSeasons.items %}
          {% if ingredient in seasonalIngredients %}
            <tr>
              <td class="in-season-ingredient">
                {{ingredient}}
              </td>
              {% for month in months %}
                <td class="{% if month %}in-season{% endif %}{% if month == selectedIndex %} selected{% endif %}">
                </td>
              {% endfor %}
            </tr>
          {% endif %}
        {% endfor %}
      </tbody>
    </table>
    <p>
      {{permanentIngredientsText}}
      <div class="row">
        {% for ingredient in permanentIngredients %}
        <div class="col s4">
          {{ingredient}}
        </div>
        {% endfor %}
      </div>
    </p>
    <p>
      {{seasonalSource | safe}}
    </p>
  </div>
  <div class="col s12 m6 l7">
    <div class="row notes-container">
      {% for note in notes %}
        {% include 'smallRecipe.html' %}
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
