<div class="card recipe-card" style="float: left">
  <a class="modal-trigger recipe-original-link" href="#delete-modal-{{note.id}}">
    <i class="delete-note-small material-icons">close</i>
  </a>
  <div class="card-image">
    <a href="{% url 'note' note.id %}">
      <div
        class="recipe-image"
        style="background-image: url('{{note.image}}')"
      ></div>
      <div class="card-wash"></div>
    </a>
    <div class="title-container">
      <div class="card-title title">{{note.title}}</div>
      <a class="modal-trigger" href="#add-modal-{{note.id}}">
        <div class="default-primary-color card-title add-to-menu">
          Add to day menu
        </div>
      </a>
    </div>
  </div>
  <a href="{% url 'note' note.id %}">
    <div class="card-content">
      <div class=" recipe-details">
        <div class="recipe-detail">
          Rating:
          {% include 'ratingStars.html' %}
        </div>
        <div class="recipe-detail">
          Difficulty: {{note.difficulty_long}}
        </div>
        <div class="recipe-detail">
          Servings: {% if note.servings %} {{note.servings}} {% else %} - {% endif %}
        </div>
      </div>
    </div>
  </a>
</div>
{% include 'addRecipeToMenuModal.html' %}
{% include 'deleteNote.html' %}
